body {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: darkred;
    font-weight: bolder;
}

.header {
    background-color: lightsalmon;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    text-align: center;
    width: 38rem;
    border-style: solid;
}

a:link {
    color: brown;
    z-index: +1;
}

h3 {
    color: rgb(74, 7, 74)
}

.pizza {
    /* background-color: lightgoldenrodyellow; */
    border-style: solid;
    border-color: lightgoldenrodyellow transparent transparent transparent;
    border-width: 36rem 19rem 0px 19rem;
    text-align: center;
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -6.5rem;
}

.links {
    text-align: center;
    position: relative;
    margin-bottom: 30rem;
    background-color: lightgoldenrodyellow;
}

.post {
    padding: 3rem;
    background-color: lightgoldenrodyellow;
}